body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(225, 225, 255, 0.05) 0%, rgba(225, 225, 225, 1e-05) 100%), #3040c4;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background: white;
    transition: 1s;
    color: #3040c4;
}

.button2{
    margin-left: 10px;
}

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    max-width: 462px;
    margin-bottom: 30px;
}

.text-inner{
    font-style: regular;
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
}

.section-grey{
    background-color: #eaecef;
}

.item-conteiner{
    display: flex;
    padding: 77px 0;
    font-size: 22px;
    line-height: 32px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: auto;
    gap: 20px;
}

.item-1{
    flex: 1;
    flex-basis: 555px;
}

.item-2{
    flex: 1;
    flex-basis: 555px;
}

b{
    font-weight:bold;
    display: block;
}

.item-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
}

.item-section{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    max-width: 1140px;
    margin: auto;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 90px;
}

.item-section-1 > .text-1{
    font-weight:bold;
    font-size: 56px;
    text-align: center;
}

.item-section-1 > .text-2{
    font-size: 24px;
    max-width: 554px;
    padding: 26px;
    text-align: center;
}

.item-section-1:nth-child(1){
    grid-column: span 3;
}

.item-section-1:nth-child(4), .item-section-1:nth-child(5){
    grid-row: span 2;
}

.categories-text-1{
    font-weight:bold;
    font-size: 22px;
    text-align: center;
    padding-top: 108px;
    margin: auto;
}

.categories-text-2{
    font-weight:bold;
    font-size: 56px;
    padding-top: 24px;
    text-align: center;
    max-width: 555px;
    margin: auto;
}

.categories-text-3{
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    max-width: 555px; 
    margin: auto;
}

.categories-btn{
    padding: 34px 0 70px 0;
    text-align: center;
}

.categories-link{
    width: 262px;
    height: 300px;
    background: #ffffff;
    border-radius: 6px;
    margin: auto;       
}

.categories-bg{
    background:#deebef;
}

.img-categories{
    display: block;
    margin: 22px auto;
}

.categories-link:hover{
    background-color: #3141C5;
    transition: 1s;
}

.categories-text{
    text-decoration: none;
    text-align: center;
    font-family: WorkSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.categories-text:hover{
    color: #ffffff;
    transition: 0.6s;
}

.categories{
    display: grid;
    margin: auto;
    max-width: 1140px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.categories-item:nth-child(1){
    grid-column: span 4;
}

.info{
    padding: 40px 0 100px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    max-width: 360px;
    line-height: 26px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3040c4;
}

@media (max-width: 1200px){
    .header{
        display: none;
    }

    .container{
        max-width: 1040px;
    }
    
    .item-conteiner{
        justify-content: flex-start;
        padding: 25px;
    }
   
    .busy{
        padding: 40px 0;
    }

    .info{
        padding: 20px 0 40px;
    }

    .info-p{
        max-width: 320px;
    }

    .categories-text-1{
        padding-top: 50px;
    }

    .categories-btn{
        padding: 20px 0 0 0;
    }

    .item-section{
        max-width: 1140px;
        padding: 0;
    }

    .categories{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .categories-item:nth-child(1){
        grid-column: span 2;
    }
}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .busy{
        padding: 0;
    }

    .busy-flex{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-p{
        max-width: 330px;
    }

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .item-section{
        display: none;
    }
}

@media (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .item-conteiner {
        padding: 20px;
    }

    .item-img{
        padding: 20px;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img{
        width: 100%;
    }

    .categories{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 40px;
        padding-bottom: 30px;
    }   

    .categories-item:nth-child(1){
        grid-column: span 1;
    }

    .categories-text-1{
        padding-top: 15px;
    }

    .categories-text-2{
        font-size: 48px;
        padding-top: 20px;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 440px;
    }

    .item-img{
        padding: 10px;
    }

    .info {
        padding: 20px 0;
    }

    .categories{
        padding-bottom: 15px;
    }
}

@media (max-width: 360px){
    .container{
        max-width: 290px;
    }

    .title-inner{
        font-size: 38px;
        margin-bottom: 10px;
    }

    .categories-text-2 {
        font-size: 38px;
        padding-top: 10px;
    }

    .categories-text-3 {
        padding-top: 15px;
    }

    .button2 {
        margin-top: 10px;
        margin-left: 0;
    }

    .categories {
        gap: 0;
    }
}

@media (max-width: 320px){
    .container{
        max-width: 290px;
    }
}